.Button {
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.35s;
  border: 1px solid transparent;
}

.primary {
  background-color: #1b53c9;
  color: #fff;

  &:disabled {
    background-color: lighten(#1b53c9, 25%);
    cursor: not-allowed;
  }

  &:hover {
    background-color: transparent;
    border-color: #1b53c9;
    color: #1b53c9;
  }
}
